numpy
pandas
scipy
matplotlib
seaborn
missingno
scikit-learn
statsmodels
imbalanced-learn
umap-learn

# --- Image processing ---
opencv-python
Pillow
imagehash
scikit-image

# --- Utilities ---
tqdm

# --- NLP ---
nltk
wordcloud
spacy
gensim
tokenizers
sentence-transformers
beautifulsoup4
